$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;
$font-size-base: 14px !default;
$font-size-16: 16px !default;
$font-size-12: 12px !default;




/*Color*/

$main-color: #67CEC5;
$da-red: #C7151C;
$block-back: #F8F8F9;
