<div class="profile-card-wrapper">
  <div class="profile-view">
    <div class="setting">
      <img class="setting__icon" src="assets/images/profile/setting-icon.svg" alt="">
    </div>
    <img class="profile__photo" src="assets/images/profile/profile.png" alt="Rubina">
    <p class="profile__last-name">Рыбина</p>
    <p class="profile__first-name">Анжелика Иванова</p>
    <a class="profile__link" href="#">Перейти в медицинскую карту </a>
  </div>
  <div class="profile-info">
    <div class="profile__title">Профиль</div>
    <div class="profile-item">
      <p class="item__title">Номер телефона</p>
      <p class="item__subtitle">+7 (903) 887 66 88</p>
    </div>
    <div class="profile-item">
      <p class="item__title">Электронная почта/p>
      <p class="item__subtitle">rybina@docapp.ru</p>
    </div>
    <div class="profile-item">
      <p class="item__title">Дата регистрация</p>
      <p class="item__subtitle">23.08.2019 <span class="item__years">(2 года назад)</span></p>
    </div>
  </div>
</div>
