<div class="sidenav-wrapper">
  <div class="sidenav-menu">
    <div class="sidenav__item">
      <a href="#" class="sidenav__link">
        <img class="sidenav__icon" src="assets/images/sidenav/calendar.svg" alt="calendar">
        <p class="sidenav__title">Календарь</p>
      </a>

    </div>
    <div class="sidenav__item">
      <a href="#" class="sidenav__link">
        <img class="sidenav__icon" src="assets/images/sidenav/message.svg" alt="message">
        <p class="sidenav__title">Сообщения</p>
      </a>

    </div>
    <div class="sidenav__item">
      <a href="#" class="sidenav__link">
        <img class="sidenav__icon" src="assets/images/sidenav/doctors.svg" alt="doctors">
        <p class="sidenav__title">Мои врачи</p>
      </a>

    </div>
  </div>
</div>
