<div class="doctor-list-wrapper">
  <div class="doctor-list-top">
    <div class="doctor__header">Мои врачи</div>
    <div class="doctor__show-all">Показать все</div>
  </div>
  <a class="doctor__link" href="#">
    <img class="doctor__photo" src="assets/images/doctors/doctor1.png" alt="Doctor">
    <div class="doctor-info">
      <p class="doctor__name">Артамонов Аркадий Сергеевич</p>
      <p class="doctor__qualification">Хирург</p>
    </div>
  </a>
  <a class="doctor__link" href="#">
    <img class="doctor__photo" src="assets/images/doctors/doctor2.png" alt="Doctor">
    <div class="doctor-info">
      <p class="doctor__name">Власова Екатерина Валерьевна</p>
      <p class="doctor__qualification">Терапевт</p>
    </div>
  </a>
  <a class="doctor__link" href="#">
    <img class="doctor__photo" src="assets/images/doctors/doctor3.png" alt="Doctor">
    <div class="doctor-info">
      <p class="doctor__name">Терентьев Николай Петрович</p>
      <p class="doctor__qualification">Лор</p>
    </div>
  </a>
</div>
