<div class="header-top-wrapper ">
  <a routerLink="/" class="header__logo-link">
    <img class="header__link-img" src="../../../../assets/images/logo.svg" alt="DocApp">
  </a>
  <div class="header-nav-wrapper container is-fluid">
    <nav class="nav-left">
      <ul class="nav-list">
        <li class="nav__item">
          <a class="nav__link" routerLink="desktop">Рабочий стол</a></li>
        <li class="nav__item">
          <a class="nav__link" routerLink="medical-card">Медицинская карта</a></li>
      </ul>
    </nav>

    <nav class="nav-right">
      <img class="nav__notice-img icon-img" src="../../../../assets/images/header-top/notice-icon.svg" alt="1" >
      <img class="nav__chart-img icon-img" src="../../../../assets/images/header-top/chart-icon.svg" alt="chart">
      <img class="nav__profile-photo" src="../../../../assets/images/header-top/profile-photo.png" alt="chart">
    </nav>
  </div>


</div>
